*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*## Colors
    ### Primary*/
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    /*### Neutral
    ### Light Theme*/
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    /*### Dark Theme*/
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue1: hsl(234, 39%, 85%);
    --Light-Grayish-Blue2 /*(hover)*/: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue1: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue2: hsl(237, 14%, 26%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    background-image: url('images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-attachment: fixed;
    background-color: var(--Very-Dark-Blue);
}

body.light-mode {
    background-image: url('images/bg-desktop-light.jpg');
    background-color: var(--Very-Light-Grayish-Blue);
}

.header {
    width: 29rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--Very-Light-Gray);
}

.header img {
    align-self: center;
}

.container {
    width: 29rem;
}

.container .input {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: .3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}

.container.light-mode .input {
    background-color: var(--Very-Light-Gray);
}

.container .input > div {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0rem;
    border-radius: 50%;
    border: 0.0625rem solid var(--Very-Dark-Grayish-Blue2);
}

.container.light-mode .input > div {
    border: 0.0625rem solid var(--Light-Grayish-Blue2);
}

.container .input input {
    width: 90%;
    padding: 1rem 0;
    font-size: 1.125rem;
    color: var(--Light-Grayish-Blue1);
    caret-color: var(--Bright-Blue);
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 0 .3rem .3rem 0;
    outline: none;
    border: none;
}

.container.light-mode .input input {
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Grayish-Blue);
}

.container .todo-items {
    width: 100%;
    color: var(--Light-Grayish-Blue1);
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: .3rem;
    box-shadow: 0rem .2rem 2rem rgba(5, 5, 5, 0.5);
}

.container.light-mode .todo-items {
    color: var(--Very-Dark-Grayish-Blue);
    background-color: var(--Very-Light-Gray);
    box-shadow: 0rem .2rem 2rem rgba(90, 88, 88, 0.5);
}

.container .todo-items .todo-item {
    width: 100%;
    padding: 1rem;
    border-bottom: 0.0625rem solid var(--Very-Dark-Grayish-Blue2);
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.container.light-mode .todo-items .todo-item {
    border-bottom: 0.0625rem solid var(--Very-Light-Grayish-Blue);
}

.container .todo-items .todo-item > .image {
    width: auto
}
.container .todo-items .todo-item .image img {
    width: 80%;
    display: none;
}

.container .todo-items .todo-item .text-item {
    width: 85%;
}

.container .todo-items .todo-item.completed .text-item {
    color: var(--Very-Dark-Grayish-Blue1);
    text-decoration: line-through;
}

.container.light-mode .todo-items .todo-item.completed .text-item {
    color: var(--Light-Grayish-Blue);
}

.container .todo-items .todo-item .icon-completed {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    border: 0.0625rem solid var(--Very-Dark-Grayish-Blue2);
}

.container.container.light-mode .todo-items .todo-item .icon-completed {
    border: 0.0625rem solid var(--Light-Grayish-Blue2);
}

.container .todo-items .todo-item.completed .icon-completed {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    border: 0.0625rem solid var(--Very-Dark-Grayish-Blue2);
    background-image: url(images/icon-check.svg), var(--Check-Background);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 55%, 100%;
}

.container .todo-items .items-selection {
    padding: 1rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    color: var(--Very-Dark-Grayish-Blue1);
}

.container.light-mode .todo-items .items-selection {
    color: var(--Dark-Grayish-Blue);
}

.container .todo-items .items-selection .selection {
    display: flex;
}

.container .todo-items .items-selection .selection p {
    margin-left: 1rem;
}

.container .todo-items .items-selection .selection p.activated,
.container .todo-items .items-selection .selection .all.activated {
    color: var(--Bright-Blue);
}

@media(hover: hover) {
    .container .todo-items .todo-item:hover .image img {
        display: block;
    }

    .header img:hover,
    .container .todo-items .todo-item .icon-completed:hover,
    .container .todo-items .todo-item:hover .image img,
    .container .todo-items .todo-item .text-item:hover,
    .container .todo-items .items-selection .selection p:hover,
    .container .todo-items .items-selection .clear-completed:hover {
        cursor: pointer;
    }

    .container .todo-items .items-selection .selection p:hover,
    .container .todo-items .items-selection .clear-completed:hover {
        color: var(--Light-Grayish-Blue2);
    }

    .container.light-mode .todo-items .items-selection .selection p:hover,
    .container.light-mode .todo-items .items-selection .clear-completed:hover {
        color: var(--Very-Dark-Grayish-Blue);
    }
}

@media(max-width: 510px) {

    body  {
        padding: 4rem 0;
    }

    .header {
        width: 90%;
    }

    .container {
        width: 90%;
    }
}

